body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #333;
}

.main {
	padding: 15px;
}

.table-head {
	margin-bottom: 10px;
}
.el-menu {
	a {
		text-decoration: none;
		display: block;
	}
}

.tag {
	min-width: 70px;
	text-align: center;
	font-size: .7rem;
	color: #fff;
	background: #999;
	padding: 1px;
	border-radius: 60px;
	display: inline-block;

	&.is-red {
		background: #dc413b;
	}
}